@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
  --appBackgroundColor:#fbfbfd;
}
*{
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: var(--appBackgroundColor);
}